body {
    max-width: 960px;
    background: #f6f2f0 url(../images/BG_TILE.png) repeat-x;
    margin: 0 auto;
    font: 16px/140% Arial, Helvetica, sans-serif;
}
#wrapper {
    width: 100%;
    margin: auto;
    background: url(../images/APPLE.jpg) no-repeat left top;
    padding-top: 50px;
    min-height: 500px;
}
h1 {
    text-indent: -9999px;
    background: url(../images/LOGO.png) no-repeat;
    width: 650px;
    height: 145px;
    float:right;
}
.challengers ul {
    clear:both;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.challengers ul li {
    display: inline-block;
    width: 18%;
    max-width: 140px;
    margin: 10px;
    padding: 30px 10px 5px 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.challengers ul li a {
    display: block;
    font-size: 12px;
    background: #43BEDD;
    margin: 10px auto;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
#challenger {

    width: 80%;
    min-height:250px;
    padding:20px;
    background: #fff;
    margin:auto;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(200, 200, 200)
} 
#challenger h3 {
    float:left;
    margin:20px;
    padding: 20px;
    background:#43BEDD;
    font-size:32px;
    line-height:140%;
    text-align:center;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:250px;
} 
#challenger ul {
    
    float:left;
    width:300px;
} 
#challenger li {
    list-style:none;
    padding:5px;
    border-bottom:1px dotted #ccc;
} 
#challenger li strong{color: #43BEDD; font-size:18px;}
#challenger > a {
    text-indent: -9999px;
    float:right;
    margin: -25px 0 0 0;
    background: url(../images/close.png) no-repeat;
    width:48px;
    height:48px;
    display:block;
}