body{
    background: #b0f6ff  url(../images/bg.png) repeat-x  0 0;
    font: 16px Helvetica, sans-serif;
    margin:0;
    padding:0;
}
.clear_all{clear:both; display:block; height: 1px;}
body > div {max-width:640px; width:80%; margin:100px auto 0;}
h1{
    position:absolute;
    top:10px;
    left: 10px;
    font-weight:normal;
    text-transform: uppercase;
    font-size: 1.225em;
    margin:5px;
}
h2{
    background: #0da5c7;
    margin-bottom:0;
    padding:10px;
    color: #fff;
    font-weight:normal;
    }
h3 {color: #555;}
h3 span {color: #0da5c7;}
body > div > div, form{padding:30px; background: #fff;}
form > div {width: 47%; float:left; margin:0 3% 10px 0;}
label {color: #00809c; }
input[type="checkbox"]{ width: 40px; height:20px; margin-top:10px;}
input[type="text"],
input[type="date"],
select{
    width: 90%;
    height:40px;
    line-height: 40px;
    padding:4px 0 4px 10px;
    display:block;
    }
select{
    -webkit-appearance: menulist-button;
    }
input[type="submit"]{
    clear:both;
    display:block;
    width:300px;
    height:40px;
    margin:10px auto;
    background: #f97a14;
    border:0;
    }